@model MVCStok.Models.tblUrunler
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">

    <div>
        <label>Ürün Ad :</label>
        <input type="text" class="form-control" name="UrunAd" />
    </div>
    <div>
        <label>Marka :</label>
        <input type="text" class="form-control" name="Marka" />
    </div>
    <div>
        <label>Ürün Kategori :</label>
        @Html.DropDownListFor(x => x.tblKategoriler.KategoriID , 
       (List<SelectListItem>)ViewBag.vl, new { @class = "form-control" })
    </div>
    <div>
        <label>Fiyat :</label>
        <input type="text" class="form-control" name="Fiyat" />
    </div>
    <div>
        <label>Stok :</label>
        <input type="text" class="form-control" name="Stok" />
    </div>
    <div>
        <button class="btn btn-success" style="margin-top:15px;">Ekle</button>
    </div>


</form>

